<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twist</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <menu>
      <%= link to: "/" do %>
        <strong>Twist</strong>
      <% end %> |
      <%= if current_account(@conn) do %>
        <%= link to: account_root(@conn) do %>
          <strong><%= current_account(@conn).name %></strong>
        <% end %> |
      <% end %>
    </menu>

    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-12'>
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
